<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601}{UTC}Z [%t] %-5level %logger{36} - %msg%n"/>
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>
        <Console name="Stderr" target="SYSTEM_ERR">
            <PatternLayout pattern="%d{ISO8601}{UTC}Z [%t] %-5level %logger{36} - %msg%n"/>
            <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Stdout"/>
            <AppenderRef ref="Stderr"/>
        </Root>
        <Logger name="org.treeWare" level="DEBUG" additivity="false">
            <AppenderRef ref="Stdout"/>
            <AppenderRef ref="Stderr"/>
        </Logger>
    </Loggers>
</Configuration>
